@font-face {
  font-family: 'times-ttf-16';
  src: url("../fonts/times-ttf-16-regular.woff") format("woff");
}

@font-face {
  font-family: 'times-ttf-32';
  src: url("../fonts/times-ttf-32-bold.woff") format("woff");
  font-weight: bold;
}

h1, h2 {
  font-size: 32px;
  font-family: 'times-ttf-32', sans-serif;
  clear: both;
}

@media (min-width: 950px) {
  h1, h2 {
    clear: none;
  }
}

h2 {
  color: blue;
}

:root {
  --origin: 0%;
}

body {
  background: url("../img/velvet.jpg") pink;
  background-size: cover;
  background-position: 50% var(--origin);
  background-attachment: fixed;
  -webkit-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
  font-family: 'times-ttf-16', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: none;
  margin: 0 auto;
  max-width: 720px;
  padding: 10px;
}

img {
  width: 100%;
  max-width: auto;
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(1, 1, 0, 20deg);
            transform: rotate3d(1, 1, 0, 20deg);
  }
}

@keyframes shake {
  from {
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(1, 1, 0, 20deg);
            transform: rotate3d(1, 1, 0, 20deg);
  }
}

@-webkit-keyframes shake2 {
  from {
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 20deg);
            transform: rotate3d(0, 1, 0, 20deg);
  }
}

@keyframes shake2 {
  from {
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 20deg);
            transform: rotate3d(0, 1, 0, 20deg);
  }
}

@-webkit-keyframes wiggle1 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(8%, 5%, 1px);
            transform: translate3d(8%, 5%, 1px);
  }
}

@keyframes wiggle1 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(8%, 5%, 1px);
            transform: translate3d(8%, 5%, 1px);
  }
}

@-webkit-keyframes wiggle2 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(4%, 2%, 1.5px);
            transform: translate3d(4%, 2%, 1.5px);
  }
}

@keyframes wiggle2 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(4%, 2%, 1.5px);
            transform: translate3d(4%, 2%, 1.5px);
  }
}

@-webkit-keyframes wiggle3 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(5%, 3%, 2px);
            transform: translate3d(5%, 3%, 2px);
  }
}

@keyframes wiggle3 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(5%, 3%, 2px);
            transform: translate3d(5%, 3%, 2px);
  }
}

table, th, td {
  border: 2px gray inset;
  background-color: white;
}

table img {
  max-width: 250px;
}

th, td {
  padding: 0.5em;
}

.logo {
  width: 200px;
  height: auto;
}

.boy {
  float: left;
  width: 20%;
  -webkit-perspective-origin: 50% var(--origin);
          perspective-origin: 50% var(--origin);
  -webkit-perspective: 60px;
          perspective: 60px;
}

.boy.right {
  float: right;
}

@media (min-width: 950px) {
  .boy {
    margin-left: -250px;
  }
  .boy.right {
    margin-left: 0;
    margin-right: -250px;
  }
}

.youtube-videos {
  display: -ms-grid;
  display: grid;
}

.youtube-videos .video {
  width: 450px;
}

.youtube-videos .video h3 {
  margin-top: 0;
}

.max {
  position: relative;
  width: 50%;
  -webkit-perspective: 20px;
          perspective: 20px;
  animation: shake 10s alternate-reverse infinite ease;
}

@media (min-width: 950px) {
  .max {
    width: 280px;
  }
}

.max img {
  height: auto;
  width: 100%;
}

.max .limb {
  position: absolute;
  width: auto;
  -webkit-animation: wiggle1 6s alternate infinite ease-in-out;
          animation: wiggle1 6s alternate infinite ease-in-out;
}

.max .head {
  -webkit-animation: wiggle2 12s alternate infinite ease-in-out;
          animation: wiggle2 12s alternate infinite ease-in-out;
  height: 24%;
  top: 9%;
  left: 39%;
}

.max .body {
  position: relative;
}

.max .mouth {
  height: 4%;
  top: 23%;
  left: 58%;
}

.max .nose {
  top: 14%;
  height: 9%;
  left: 61%;
  -webkit-animation: wiggle3 8s alternate infinite ease-in-out;
          animation: wiggle3 8s alternate infinite ease-in-out;
}

.max .left-eye {
  height: 3%;
  top: 14%;
  left: 55%;
  -webkit-animation: wiggle2 8s alternate infinite ease-in-out;
          animation: wiggle2 8s alternate infinite ease-in-out;
}

.max .right-eye {
  height: 3%;
  top: 16%;
  right: 22%;
  animation: wiggle3 4s alternate-reverse infinite  ease-in-out;
}

.dom {
  position: relative;
  width: 260px;
  -webkit-perspective: 30px;
          perspective: 30px;
  margin-top: 15%;
  -webkit-animation: shake2 10s alternate infinite ease;
          animation: shake2 10s alternate infinite ease;
}

.dom img {
  height: auto;
  width: 100%;
}

.dom .limb {
  position: absolute;
  width: auto;
  -webkit-animation: wiggle1 6s alternate infinite ease-in-out;
          animation: wiggle1 6s alternate infinite ease-in-out;
}

.dom .head {
  height: 26%;
  top: -19%;
  left: 19%;
}

.dom .lower-lip {
  height: 5%;
  top: -2.5%;
  left: 39%;
  -webkit-animation: wiggle2 7s alternate infinite ease-in-out;
          animation: wiggle2 7s alternate infinite ease-in-out;
}

.dom .upper-lip {
  height: 2.25%;
  top: -3%;
  left: 39%;
}

.dom .nose {
  top: -6%;
  height: 3.5%;
  left: 45%;
  -webkit-animation: wiggle3 8s alternate infinite ease-in-out;
          animation: wiggle3 8s alternate infinite ease-in-out;
}

.dom .left-eye {
  height: 2%;
  top: -7%;
  left: 36%;
  -webkit-animation: wiggle2 8s alternate infinite ease-in-out;
          animation: wiggle2 8s alternate infinite ease-in-out;
}

.dom .right-eye {
  height: 2%;
  top: -7%;
  right: 39%;
}

.dom .body {
  position: relative;
}

.ben {
  position: relative;
  width: 380px;
  -webkit-perspective: 50px;
          perspective: 50px;
  -webkit-animation: shake2 10s alternate infinite ease;
          animation: shake2 10s alternate infinite ease;
}

.ben img {
  height: auto;
  width: 100%;
}

.ben .limb {
  position: absolute;
  width: auto;
  -webkit-animation: wiggle1 6s alternate infinite ease-in-out;
          animation: wiggle1 6s alternate infinite ease-in-out;
}

.ben .head {
  height: 22%;
  top: -2%;
  left: 37%;
}

.ben .lower-lip {
  height: 4%;
  top: 13%;
  left: 49%;
  -webkit-animation: wiggle2 7s alternate infinite ease-in-out;
          animation: wiggle2 7s alternate infinite ease-in-out;
}

.ben .upper-lip {
  height: 2.5%;
  top: 13.5%;
  left: 49%;
}

.ben .nose {
  top: 9.5%;
  height: 3.5%;
  left: 52%;
  -webkit-animation: wiggle3 8s alternate infinite ease-in-out;
          animation: wiggle3 8s alternate infinite ease-in-out;
}

.ben .teeth {
  height: 1.5%;
  top: 15%;
  left: 51%;
}

.ben .left-eye {
  height: 2.5%;
  top: 9%;
  left: 47%;
  -webkit-animation: wiggle2 8s alternate infinite ease-in-out;
          animation: wiggle2 8s alternate infinite ease-in-out;
}

.ben .right-eye {
  height: 2.5%;
  top: 8.5%;
  right: 35%;
}

.ben .body {
  position: relative;
}

.sean {
  position: relative;
  width: 50%;
  -webkit-perspective: 60px;
          perspective: 60px;
  -webkit-animation: shake 10s alternate infinite ease;
          animation: shake 10s alternate infinite ease;
}

@media (min-width: 950px) {
  .sean {
    width: 280px;
  }
}

.sean img {
  height: auto;
  width: 100%;
}

.sean .limb {
  position: absolute;
  width: auto;
  -webkit-animation: wiggle1 6s alternate infinite ease-in-out;
          animation: wiggle1 6s alternate infinite ease-in-out;
}

.sean .head {
  height: 19%;
  top: 1%;
  left: 20%;
}

.sean .lower-lip {
  height: 5%;
  top: 12%;
  left: 34%;
  -webkit-animation: wiggle2 7s alternate infinite ease-in-out;
          animation: wiggle2 7s alternate infinite ease-in-out;
}

.sean .upper-lip {
  height: 2.25%;
  top: 11.25%;
  left: 35%;
}

.sean .nose {
  top: 7.5%;
  height: 3.5%;
  left: 37%;
  -webkit-animation: wiggle3 8s alternate infinite ease-in-out;
          animation: wiggle3 8s alternate infinite ease-in-out;
}

.sean .teeth {
  height: 2%;
  top: 12%;
  left: 36%;
}

.sean .left-eye {
  height: 1.5%;
  top: 7%;
  left: 30%;
  -webkit-animation: wiggle2 8s alternate infinite ease-in-out;
          animation: wiggle2 8s alternate infinite ease-in-out;
}

.sean .right-eye {
  height: 2%;
  top: 6.75%;
  right: 47%;
}

.sean .body {
  position: relative;
}

.greg {
  position: relative;
  width: 100%;
  animation: shake 10s alternate infinite reverse ease;
}

@media (min-width: 650px) {
  .greg {
    width: 440px;
  }
}

.greg img {
  height: auto;
  width: 100%;
}

.greg .limb {
  position: absolute;
  width: auto;
  -webkit-animation: wiggle1 6s alternate infinite ease-in-out;
          animation: wiggle1 6s alternate infinite ease-in-out;
}

.greg .head {
  height: 26%;
  top: 12%;
  left: 17%;
  -webkit-animation: wiggle1 12s alternate infinite ease-in-out;
          animation: wiggle1 12s alternate infinite ease-in-out;
}

.greg .mouth {
  height: 3%;
  top: 28%;
  left: 25%;
}

.greg .nose {
  top: 24.5%;
  height: 4.5%;
  left: 26%;
  -webkit-animation: wiggle3 8s alternate infinite ease-in-out;
          animation: wiggle3 8s alternate infinite ease-in-out;
}

.greg .left-eye {
  height: 3%;
  top: 23.5%;
  left: 21%;
  -webkit-animation: wiggle2 8s alternate infinite ease-in-out;
          animation: wiggle2 8s alternate infinite ease-in-out;
}

.greg .right-eye {
  height: 2%;
  top: 23.5%;
  right: 65%;
}

.greg .body {
  position: relative;
}
/*# sourceMappingURL=style.css.map */