body {
  background: lightblue;
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(1, 1, 0, 30deg);
            transform: rotate3d(1, 1, 0, 30deg);
  }
}

@keyframes shake {
  from {
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
            transform: rotate3d(1, 1, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(1, 1, 0, 30deg);
            transform: rotate3d(1, 1, 0, 30deg);
  }
}

@-webkit-keyframes wiggle1 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(8%, 5%, 1px);
            transform: translate3d(8%, 5%, 1px);
  }
}

@keyframes wiggle1 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(8%, 5%, 1px);
            transform: translate3d(8%, 5%, 1px);
  }
}

@-webkit-keyframes wiggle2 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(4%, 2%, 1.5px);
            transform: translate3d(4%, 2%, 1.5px);
  }
}

@keyframes wiggle2 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(4%, 2%, 1.5px);
            transform: translate3d(4%, 2%, 1.5px);
  }
}

@-webkit-keyframes wiggle3 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(5%, 3%, 2px);
            transform: translate3d(5%, 3%, 2px);
  }
}

@keyframes wiggle3 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(5%, 3%, 2px);
            transform: translate3d(5%, 3%, 2px);
  }
}

.boy {
  float: left;
}

.max {
  position: relative;
  width: 200px;
  -webkit-perspective: 5px;
          perspective: 5px;
}

.max img {
  height: auto;
  width: 100%;
}

.max .body {
  position: relative;
  z-index: 2;
}

.max .head {
  position: absolute;
  width: auto;
  z-index: 1;
  -webkit-animation: wiggle1 12s alternate infinite ease-in-out;
          animation: wiggle1 12s alternate infinite ease-in-out;
  height: 22%;
  top: 12%;
  left: 39%;
}

.dom {
  position: relative;
  width: 200px;
  -webkit-perspective: 15px;
          perspective: 15px;
  -webkit-animation: shake 10s alternate infinite ease;
          animation: shake 10s alternate infinite ease;
}

.dom img {
  height: auto;
  width: 100%;
}

.dom .limb {
  position: absolute;
  width: auto;
  -webkit-animation: wiggle1 6s alternate infinite ease-in-out;
          animation: wiggle1 6s alternate infinite ease-in-out;
}

.dom .head {
  height: 22%;
  top: 0;
  left: 19%;
  -webkit-animation: wiggle1 12s alternate infinite ease-in-out;
          animation: wiggle1 12s alternate infinite ease-in-out;
}

.dom .lower-lip {
  height: 5%;
  top: 16.5%;
  left: 39%;
  -webkit-animation: wiggle2 7s alternate infinite ease-in-out;
          animation: wiggle2 7s alternate infinite ease-in-out;
}

.dom .upper-lip {
  height: 2.25%;
  top: 16%;
  left: 39%;
}

.dom .nose {
  top: 13%;
  height: 3.5%;
  left: 45%;
  -webkit-animation: wiggle3 8s alternate infinite ease-in-out;
          animation: wiggle3 8s alternate infinite ease-in-out;
}

.dom .left-eye {
  height: 2%;
  top: 12%;
  left: 36%;
  -webkit-animation: wiggle2 8s alternate infinite ease-in-out;
          animation: wiggle2 8s alternate infinite ease-in-out;
}

.dom .right-eye {
  height: 2%;
  top: 12%;
  right: 39%;
}

.dom .body {
  position: relative;
  padding-top: 55%;
}
/*# sourceMappingURL=style.css.map */