@font-face {
  font-family: 'times-ttf-16';
  src: url('../fonts/times-ttf-16-regular.woff') format('woff');
}
@font-face {
  font-family: 'times-ttf-32';
  src: url('../fonts/times-ttf-32-bold.woff') format('woff');
  font-weight: bold;
}

h1, h2 {
  font-size: 32px;
  font-family: 'times-ttf-32', sans-serif;
  // clear: both;
}
:root {
  --origin: 20%;
}

body {
  background: no-repeat pink;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'times-ttf-16', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing : none;
  margin: 0 auto;
  max-width: 720px;
}

img {
  width: 100%;
  max-width: auto;
}

@keyframes shake {
  from {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  to {
    transform: rotate3d(1, 1, 0, 30deg);
  }
}
@keyframes shake2 {
  from {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  to {
    transform: rotate3d(1, 1, 0, -30deg);
  }
}
@keyframes wiggle1 {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(8%, 5%, 1px);
  }
}
@keyframes wiggle2 {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(4%, 2%, 1.5px);
  }
}
@keyframes wiggle3 {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(5%, 3%, 2px);
  }
}

table, th, td {
  border: 2px gray inset;
}
th, td {
  padding: 0.5em;
}

.logo {
  width: 200px;
  height: auto;
}

.boy {
  float: left;
  width: 20%;
  &.right {
    float: right;
  }
  perspective-origin: 50% var(--origin);
  perspective: 90px;
}

@media (min-width: 720px) {
  .boy {
    margin-left: -250px;
    &.right {
      margin-left: 0;
      margin-right: -250px;
    }
  }
}

.youtube-videos {
  display: grid;
  
  .video {
    width: 450px;

    h3 {
      margin-top: 0;
    }
  }
}

.max {
  position: relative;
  width: 280px;
  animation: shake1 10s alternate infinite reverse ease;

  img {
    height: auto;
    width: 100%;
  }
  .limb {
    position: absolute;
    width: auto;
    animation: wiggle1 6s alternate infinite ease-in-out;
  }
  .head {
    animation: wiggle2 12s alternate infinite ease-in-out;
    height: 24%;
    top: 9%;
    left: 39%;
  }
  .body {
    position: relative;
  }
  .mouth {
    height: 4%;
    top: 23%;
    left: 58%;
  }
  .nose {
    top: 14%;
    height: 9%;
    left: 61%;
    animation: wiggle3 8s alternate infinite ease-in-out;
  }
  .left-eye {
    height: 3%;
    top: 14%;
    left: 55%;
    animation: wiggle2 8s alternate infinite ease-in-out;
  }
  .right-eye {
    height: 3%;
    top: 16%;
    right: 22%;
  }
}

.dom {
  position: relative;
  width: 260px;
  animation: shake2 10s alternate infinite reverse ease;

  img {
    height: auto;
    width: 100%;
  }
  
  .limb {
    position: absolute;
    width: auto;
    animation: wiggle1 6s alternate infinite ease-in-out;
  }
  .head {
    height: 22%;
    top: 0;
    left: 19%;
    // animation: wiggle1 12s alternate infinite ease-in-out;
  }
  .lower-lip {
    height: 5%;
    top: 16.5%;
    left: 39%;
    animation: wiggle2 7s alternate infinite ease-in-out;
  }
  .upper-lip {
    height: 2.25%;
    top: 16%;
    left: 39%;
  }
  .nose {
    top: 13%;
    height: 3.5%;
    left: 45%;
    animation: wiggle3 8s alternate infinite ease-in-out;
  }
  .left-eye {
    height: 2%;
    top: 12%;
    left: 36%;
    animation: wiggle2 8s alternate infinite ease-in-out;
  }
  .right-eye {
    height: 2%;
    top: 12%;
    right: 39%;
  }
  .body {
    position: relative;
    padding-top: 55%;
  }
}

.ben {
  position: relative;
  width: 320px;
  animation: shake2 10s alternate infinite ease;

  img {
    height: auto;
    width: 100%;
  }
  
  .limb {
    position: absolute;
    width: auto;
    animation: wiggle1 6s alternate infinite ease-in-out;
  }
  .head {
    height: 22%;
    top: 17%;
    left: 32%;
    // animation: wiggle1 12s alternate infinite ease-in-out;
  }
  .lower-lip {
    height: 5%;
    top: 32%;
    left: 47%;
    animation: wiggle2 7s alternate infinite ease-in-out;
  }
  .upper-lip {
    height: 2.25%;
    top: 32%;
    left: 49%;
  }
  .nose {
    top: 29%;
    height: 3.5%;
    left: 52%;
    animation: wiggle3 8s alternate infinite ease-in-out;
  }
  .teeth {
    height: 2%;
    top: 34%;
    left: 49%;
  }
  .left-eye {
    height: 2%;
    top: 28%;
    left: 49%;
    animation: wiggle2 8s alternate infinite ease-in-out;
  }
  .right-eye {
    height: 2%;
    top: 28%;
    right: 35%;
  }
  .body {
    position: relative;
    padding-top: 55%;
  }
}

.sean {
  position: relative;
  width: 280px;
  animation: shake 10s alternate infinite ease;

  img {
    height: auto;
    width: 100%;
  }
  
  .limb {
    position: absolute;
    width: auto;
    animation: wiggle1 6s alternate infinite ease-in-out;
  }
  .head {
    height: 16%;
    top: 19%;
    left: 19%;
    // animation: wiggle1 12s alternate infinite ease-in-out;
  }
  .lower-lip {
    height: 5%;
    top: 30%;
    left: 33%;
    animation: wiggle2 7s alternate infinite ease-in-out;
  }
  .upper-lip {
    height: 2.25%;
    top: 29.25%;
    left: 35%;
  }
  .nose {
    top: 26%;
    height: 3.5%;
    left: 37%;
    animation: wiggle3 8s alternate infinite ease-in-out;
  }
  .teeth {
    height: 2%;
    top: 30%;
    left: 37%;
  }
  .left-eye {
    height: 2%;
    top: 25%;
    left: 27%;
    animation: wiggle2 8s alternate infinite ease-in-out;
  }
  .right-eye {
    height: 2%;
    top: 25%;
    right: 45%;
  }
  .body {
    position: relative;
    padding-top: 55%;
  }
}

.greg {
  position: relative;
  width: 400px;
  animation: shake 10s alternate infinite reverse ease;

  img {
    height: auto;
    width: 100%;
  }
  
  .limb {
    position: absolute;
    width: auto;
    animation: wiggle1 6s alternate infinite ease-in-out;
  }
  .head {
    height: 20%;
    top: 36%;
    left: 15%;
    animation: wiggle1 12s alternate infinite ease-in-out;
  }
  .mouth {
    height: 2.25%;
    top: 47%;
    left: 25%;
  }
  .nose {
    top: 43.5%;
    height: 3.5%;
    left: 26%;
    animation: wiggle3 8s alternate infinite ease-in-out;
  }
  .left-eye {
    height: 2%;
    top: 43.5%;
    left: 21%;
    animation: wiggle2 8s alternate infinite ease-in-out;
  }
  .right-eye {
    height: 1.5%;
    top: 42.5%;
    right: 65%;
  }
  .body {
    position: relative;
    padding-top: 55%;
  }
}